@model FaultReportingSystem.Models.Fault

@{
    ViewData["Title"] = "Delete Fault";
}

<h1>Delete Fault</h1>
<h3>Are you sure you want to delete this Fault?</h3>
<div>
    <h4>Fault</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateReported)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateReported)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Problem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Problem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaultType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaultType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerFullNameWithEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Developer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Developer.DeveloperFullNameWithEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HelpDesk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HelpDesk.HelpDeskFullNameWithEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoftwareProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoftwareProduct.SoftwareProductIdWithName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FaultId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
