@model FaultReportingSystem.Models.Developer

@{
    ViewData["Title"] = "Developer Details";
}

<h1>Developer Details</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeveloperFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeveloperFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeveloperLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeveloperLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeveloperEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeveloperEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeveloperPassword)
        </dt>
        <dd class = "col-sm-10">
            ********
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeveloperContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeveloperContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manager.ManagerFullNameWithEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
</div>
