@model FaultReportingSystem.Models.Manager

@{
    ViewData["Title"] = "Manager Details";
}

<h1>Manager Details</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerPassword)
        </dt>
        <dd class = "col-sm-10">
            ********
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerContactNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
</div>
