@model IEnumerable<FaultReportingSystem.Models.SystemAdministrator>

@{
    ViewData["Title"] = "System Administrators";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>System Administrators</h1>
    <a asp-action="Create" class="btn btn-outline-primary">Add New System Administrator</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNumber)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-outline-primary" asp-route-id="@item.SystemAdministratorId">Edit</a>
                    <a asp-action="Details" class="btn btn-outline-primary" asp-route-id="@item.SystemAdministratorId">Details</a>
                    <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.SystemAdministratorId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
