@model FaultReportingSystem.Models.Customer

@{
    ViewData["Title"] = "Customer Details";
}
<h1>Customer Details</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerPassword)
        </dt>
        <dd class = "col-sm-10">
            ********@* @Html.DisplayFor(model => model.CustomerPassword) *@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerContactNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
</div>
